server:
  port: 8071

spring:
  application:
    name: configserver

  cloud:
    config:
      server:
        git:
          uri: "https://github.com/Rodrigo2898/ms-simplified-erp-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}